
.iconInfoStyle{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 22px;
}

.buttonDetails{
    cursor: pointer;
}

.tableErrorDetails{
    border: 2px solid black;
    width: 100%;
    background: #ffffff;
}

.th{
    font-size: larger;
}

.tableErrorDetails,th,td{
    border: 2px solid black;
}
