

.buttonViewMap{
    background: rgba(11, 76, 207, 0.95);
}

.buttonViewTickets{
    background: rgba(239, 195, 61, 0.95);
}

.buttonCreateMap{
    background: rgba(231, 101, 6, 0.95);
}

.buttonViewMapAdmin{
    background: rgba(100, 12, 210, 0.95);
}


