#mainTable {
    border-spacing: 20px;
    border: 2px solid black;
    margin-top: 20px;
}

#mainTable td, th {
    width: 4rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 700;
}
#mainTable th {
    background: lightblue;
    border-color: white;
}


.selected{
    background: yellow;
}

.container {
    display: inline;
}

.inputNumber{
    width: 40px;
    margin: 3px;
}

.sectionNumber1{
    margin: 2px;

}
.tableSelection{
    border-collapse: collapse;
    font-size: 20px;
    margin-top: 20px;
}
th{
    font-size: larger;
}

.tableSelection, th, td {
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
}

.tableButton{
    margin: 7px !important;
    font-size: 16px !important;
    color: black !important;
}
.tableButton ,a{
    margin: 7px !important;
    font-size: 16px !important;
    color: black !important;
}


.locked{
    background: #ff000099;

}

.reserved{
    background: rgba(19, 255, 0, 0.6);
}
.negativeMessage{
    color:red;
}
