<!DOCTYPE html>
<html lang="en">
<head>
    <title>FooTicket - Create Map </title>
    <th:block th:include="fragments/commonResources :: commons"></th:block>
    <link rel="stylesheet" th:href="@{/css/map.css}">
    <script th:src="@{/script/map.js}"></script>
</head>

<body>

    <div th:replace="fragments/accountInfo :: myHeader"></div>

    <form class="mapForm" method='POST' th:action="@{/admin/confirmMap}" th:object="${mapForm}">
        <h1> Create new seats map </h1>
        <div>

            <table class="tableSelection">
                <tr>
                    <td> Rows x Columns </td>
                    <td> <input id="numRow" type="number" name="file" min="1" class="inputNumber" th:field="${mapForm.numRows}"> x <input id="numCol"type="number"  min="1" class="inputNumber" th:field="${mapForm.numCols}"></td>
                </tr>
                <tr>
                    <td> Price per seat </td>
                    <td> <input id="price" type="number" name="price" min="1" value="50" class="inputNumber" th:field="${mapForm.price}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="buttonFunctionality buttonBack tableButton" type="button"><a th:href="@{/admin}"> BACK </a> </button>
                        <button id="createMapButton" class="buttonFunctionality tableButton" type="button"> DRAW  </button>
                        <button id="confirmMap" class="buttonFunctionality tableButton" style="display: none;"> CREATE  </button>
                    </td>
                </tr>

            </table>
        </div>

        <div class="container">
            <table id="mainTable"></table>
        </div>
    </form>


</body>



</html>