<!DOCTYPE html>
<html lang="en">
<head>
    <title>FooTicket - Home </title>
    <th:block th:include="fragments/commonResources :: commons"></th:block>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<div th:replace="fragments/accountInfo :: myHeader"></div>

<h1> Hello Admin</h1>
<span class="positiveMessage" th:if="${param.mapCreated!=null and param.mapCreated}">
       The map has been created successfully!
</span>
<span class="negativeMessage" th:if="${param.mapCreated!=null and not param.mapCreated}">
       Somethings goes wrong during the creation of the map!
</span>
<span class=""  th:text="${param.optionalMsg}">
</span>


<div class="divButtons">
    <button class="buttonFunctionality buttonCreateMap"><a th:href="@{/admin/createMap}"> Create New Map </a> </button>
    <button class="buttonFunctionality buttonViewMapAdmin"><a th:href="@{/admin/viewMap}"> View Current Map </a></button>
</div>


</body>
</html>